*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background-image: url(./8e964efd-d2af-4a5d-a99b-4d0171c47e3e.webp);
    background-repeat: no-repeat;
    background-position: center; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.calculator{
    margin: 2vw;
    padding: 0.7vw;
    border-radius: 3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30vw;
    -webkit-backdrop-filter: blur(5.4px);
    backdrop-filter: blur(4.4px);
}

input{
    width: 90%;
    padding: 1.5vw;
    margin: 1.5vw 1vw;
    border-radius: 2vw;
    text-align: end;
    font-size: 3vw;
    border: none;
    box-shadow: inset 1px 10px 10px 1px rgba(1, 1, 1, 0.2);
}

.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btns button{
    padding: 1.4vw ;
    margin: 1vw;
    border: none;
    border-radius: 100vw;
    cursor: pointer;
    font-size: 2vw;
    background: #ffffffcb;
    color: #0a0909;
    box-shadow: 1px 10px 10px 1px rgba(1, 1, 0.5, 0.3);
}

.btns button:active{
    /* background: #f76300; */
    transform: scale3d(0.9, 0.9, 0.9);
    /* color: white; */
}

.equal{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}